<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    
        <h1>The <%= cat["0"].name %></h1>
        <img src="<%= cat[0].image %>" style="width: 200px; border-radius:100px " alt="">
        <ul>
            <h4>Age: <%= cat[0].age %></h4>
            <h4>Favorite Food: <%= cat[0].fav_food %></h4>
            <h4>Sleeping Spots:</h4>
            <ul>
                <% for (var x in cat) { %>
                    <h3>

                        <%= JSON.stringify(cat[x]['sleep']) %>
                    </h3>
                   
                <% } %>
            </ul>
        </ul>
        
        
</body>
</html>